.container {
  display: grid;
  grid-template-rows: 50px calc(100vh - 80px);

  .header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 30% 70%;

    .sidebar {
      border: 1px solid blue;
    }

    .mainContent {
      border: 1px solid black;
      padding: 16px;
    }
  }
}